<div class="background-container">
    <!-- Background Image -->
    <div class="background-image">
      <img src="assets/images/background.jpg" alt="Background" class="background-img" />
      <div class="overlay"></div>
    </div>
  
    <!-- Background Component -->
    
  
    <!-- Scrollable container for cards -->
    <div class="container">
      <div *ngFor="let card of cards" (click)="navigateTo(card.screen)" class="card-link">
        <app-card-component
          [title]="card.title"
          [subtitle]="card.subtitle">
        </app-card-component>
      </div>
    </div>
  </div>